h3,
p {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #401d15;
	margin: 0px;
}

.main_bk {
	background-color: #D66047;
	padding-bottom: 5px;
}

.centerinfo {
	padding-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.time_white {
	color: white;
}
